{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="gui">
<head>
  <title>GUI</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
  <script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ui-bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/app.js" %}"></script>
  <style>
  .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
  </style>
</head>

{% verbatim %}
<body>
  <div class="container-fluid" ng-controller="DetailController as detailCntr">
    <div class="page-header">
      <h1>Packrat <small>The Repo and Package manager</small></h1>
    </div>
    <div class="col-md-4" ng-controller="MenuController as menuCntr">

      <ul class="nav nav-tabs">
        <li ng-class="{ active: menuCntr.isSelected( 'mirror' ) }"><a href ng-click="menuCntr.select( 'mirror' )">Mirrors</a></li>
        <li ng-class="{ active: menuCntr.isSelected( 'package' ) }"><a href ng-click="menuCntr.select( 'package' )">Packages</a></li>
      </ul>

      <div class="panel" ng-show="menuCntr.isSelected( 'mirror' )"  ng-controller="MirrorController">
        <accordion close-others="true">
          <accordion-group is-open="top_accordion.open" ng-repeat="mirror in mirror_list">
            <accordion-heading>
              <i class="glyphicon" ng-class="{ 'glyphicon-chevron-down': top_accordion.open, 'glyphicon-chevron-right': !top_accordion.open }"></i>
              {{ mirror.name }}
            </accordion-heading>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="repo in mirror.repo_list" ng-class="{ active: detailCntr.isDetailSelected( repo.resource_uri ) }" ng-click="detailCntr.select( 'repo', repo.resource_uri, false )">{{ repo.description }}</li>
            </ul>
          </accordion-group>
        </accordion>
      </div>

      <div ng-show="menuCntr.isSelected( 'package' )" ng-controller="PackageController">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="package in package_list" ng-class="{ active: detailCntr.isDetailSelected( package.resource_uri ) }" ng-click="detailCntr.select( 'package', package.resource_uri, false )">{{ package.name }}</li>
        </ul>
      </div>

    </div>

    <div class="col-md-8">
      <ol class="breadcrumb">
        <li ng-repeat="trail in detailCntr.trail_list_mode track by $index" ng-class="{ active: $last }" ng-click="$last || detailCntr.select( null, null, $index )">{{ trail }}</li>
      </ol>
      <div class="panel panel-default" ng-show="detailCntr.isSelected( 'loading' )">
        <div class="panel-heading">... Loading ...</div>
      </div>
      <div class="panel panel-default" ng-show="detailCntr.isSelected( 'mirror' )">
        <div class="panel-heading">Mirror Detail</div>
        <div class="panel-body">
          The Mirror stuff
        </div>
      </div>
      <div class="panel panel-default" ng-show="detailCntr.isSelected( 'distroversion' )">
        <div class="panel-heading">Distro Version</div>
        <div class="panel-body">
          <dl>
            <dt>Distro</dt><dd>{{ detailCntr.data.distro }}</dd>
        </div>
      </div>
      <div class="panel panel-default" ng-show="detailCntr.isSelected( 'repo' )">
        <div class="panel-heading">Repo Detail</div>
        <div class="panel-body">
          <dl>
            <dt>Description</dt><dd>{{ detailCntr.data.description }}</dd>
            <dt>Manager Type</dt><dd>{{ detailCntr.data.manager_type }}</dd>
            <dt>Release Type</dt><dd>{{ detailCntr.data.release_type }}</dd>
            <dt>Created</dt><dd>{{ detailCntr.data.created | date }}</dd>
            <dt>Updated</dt><dd>{{ detailCntr.data.updated | date }}</dd>
          </dl>
          <accordion close-others="true">
            <accordion-group is-open="repo_package_accordion.open">
              <accordion-heading>
                <i class="glyphicon" ng-class="{ 'glyphicon-chevron-down': repo_package_accordion.open, 'glyphicon-chevron-right': !repo_package_accordion.open }"></i>
                Packages
              </accordion-heading>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="package in detailCntr.data.package_list" ng-click="detailCntr.select( 'package', package.resource_uri, true )">{{ package.name }}</li>
              </ul>
            </accordion-group>
            <accordion-group is-open="repo_distroversion_accordion.open">
              <accordion-heading>
                <i class="glyphicon" ng-class="{ 'glyphicon-chevron-down': repo_distroversion_accordion.open, 'glyphicon-chevron-right': !repo_distroversion_accordion.open }"></i>
                Distros
              </accordion-heading>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="distroversion in detailCntr.data.distroversion_list" ng-click="detailCntr.select( 'distroversion', distroversion, true )">{{ distroversion }}</li>
              </ul>
            </accordion-group>
          </accordion>
        </div>
      </div>
      <div class="panel panel-default" ng-show="detailCntr.isSelected( 'package' )">
        <div class="panel-heading">Package Detail</div>
        <div class="pannel-body">
          <b>Name:</b> {{ detailCntr.data.name }}
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="packagefile in detailCntr.data.packagefile_list" ng-click="detailCntr.select( 'packagefile', packagefile, true )">{{ packagefile }}</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default" ng-show="detailCntr.isSelected( 'packagefile' )">
        <div class="panel-heading">Package File Detail</div>
        <div class="pannel-body">
          <dl>
            <dt>File</dt><dd>{{ detailCntr.data.file }}</dd>
            <dt>Package</dt><dd ng-click="detailCntr.select( 'package', detailCntr.data.package, true )">{{ detailCntr.data.package }}</dd>
            <dt>Version</dt><dd>{{ detailCntr.data.version }}</dd>
            <dt>Release</dt><dd>{{ detailCntr.data.release }}</dd>
            <dt>Type</dt><dd>{{ detailCntr.data.type }}</dd>
            <dt>Distro Version</dt><dd ng-click="detailCntr.select( 'distroversion', detailCntr.data.distroversion, true )">{{ detailCntr.data.distroversion }}</dd>
            <dt>Justification</dt><dd>{{ detailCntr.data.justification }}</dd>
            <dt>Provenance</dt><dd>{{ detailCntr.data.provenance }}</dd>
            <dt>Created</dt><dd>{{ detailCntr.data.created | date }}</dd>
            <dt>Updated</dt><dd>{{ detailCntr.data.updated | date }}</dd>
            <dt>Dev At</dt><dd>{{ detailCntr.data.dev_at | date }}</dd>
            <dt>CI At</dt><dd>{{ detailCntr.data.ci_at | date }}</dd>
            <dt>Stageing At</dt><dd>{{ detailCntr.data.stage_at | date }}</dd>
            <dt>Production At</dt><dd>{{ detailCntr.data.prod_at | date }}</dd>
        </div>
      </div>
    </div>
  </div>
</body>
{% endverbatim %}
</html>
