{% extends "base.html" %}

{% block title %}Package {{ file.package.name }} Version {{ file.version }}{% endblock %}

{% block content %}
<pre>
package: <a href="{% url 'repos:package' file.package.pk %}">{{ file.package.name }}</a>
release: {{ file.release }}
version: {{ file.version }}
type: {{ file.type }}
arch: {{ file.arch }}
<h4>Justification</h4>
<pre>{{ file.justification }}</pre>
<h4>Provenance</h4>
<pre>{{ file.provenance }}</pre>
file: {{ file.file }} <a href="{{ file.file.url }}">Download</a>
ci_at: {{ file.ci_at }}
dev_at: {{ file.dev_at }}
stage_at: {{ file.dev_at }}
prod_at: {{ file.prod_at }}
created: {{ file.created }}
updated: {{ file.updated }}
</pre>
{% if file.release != 'prod' %}<a href="{% url 'repos:packagefile_promote' file.pk %}">Promote</a>{% endif %}
{% endblock %}
