Source: packrat
Section: nonfree/autobots
Priority: optional
Maintainer: Peter Howe <peter.howe@emc.com>
Build-Depends: cdbs (>= 0.4.90), debhelper (>= 7), python (>= 2.7), python-dev (>=2.7), python-setuptools (>=0.6)
Standards-Version: 3.8.3
X-Python-Version: >= 2.7

Package: packrat
Architecture: all
Depends: python-django (>= 1.7), python-simplejson, apache2, libapache2-mod-wsgi, libapache2-mod-python, postgresql-client-9.3, python-psycopg2, python-magic, python-cinp, python-dateutil, ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Packrat
  Packrat
