Source: packrat
Section: multiverse/python
Priority: optional
Maintainer: Peter Howe <peter.howe@emc.com>
Build-Depends: cdbs, debhelper (>= 7), python3 (>= 3.4), python3-dev (>=3.4), python3-setuptools (>= 20.0), nodejs (>= 8.9.0), lsb-release
Standards-Version: 3.8.3
X-Python-Version: >= 3.4

Package: packrat
Architecture: any
Depends: python3-django, python3-simplejson, apache2, libapache2-mod-wsgi-py3, postgresql-client, python3-werkzeug, python3-psycopg2, python3-magic, python3-cinp (>= 0.7), ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Packrat
  Packrat
